
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #0a0a0a; /* dark background */
  color: white; /* optional text color */
}

.square {
  background: #fff;
  border: 1px solid #999;
  width: 200px;
  height: 200px;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square.highlight {
  background-color: green;
  font-weight: bold;
  font-style: italic;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 20px;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.navbar {
  margin-top: 10px;
  background-color: #111827;
  padding: 10px;
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: #f3f4f6;        /* light gray */
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.nav-list a:hover {
  color: #60a5fa;        /* bright blue */
  text-shadow: 0 0 6px #60a5fa;
}


.game-board {
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
} 
/*.game {
  display: flex;
  justify-content: center;
  align-items: center;
  
   full page height so centering works 
  min-height: 100vh;
}



.square {
  width: 150px;
  height: 150px;
  background: #222;
  border: 2px solid #fff;
  font-size: 64px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}*/